# Виртуальное окружение
solar_venv/
.env

# Кэш Python
__pycache__/
*.pyc

# Базы данных
*.sqlite3
*.db

# Файлы с секретами (никогда не коммитить!)
configs/settings.json

# Данные
solarterra/data/

# Миграции
solarterra_submodules/data_cdf/migrations/

# Модели данных
solarterra_submodules/data_cdf/models

# Тесты
solarterra/load_cdf/tests

# Миграции для загрузки CDF
solarterra/load_cdf/migrations

# Логи
solarterra/logs